<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <log>

        <!--ConsoleAppender の設定例。-->
        <appender name="ConsoleAppenderExample" type="SoftCube.Log.ConsoleAppender">
            <param name="ConversionPattern" value="{date:yyyy-MM-dd HH:mm:ss,fff} [{level,-5}] - {message}{newline}"/>
            <param name="MinLevel" value="Trace"/>
            <param name="MaxLevel" value="Trace"/>
        </appender>

        <root>
            <!--使用する Appender。-->
            <appender-ref ref="ConsoleAppenderExample"/>
        </root>

    </log>

</configuration>
