<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <logger>

        <!--ConsoleAppender の設定例。-->
        <appender name="ConsoleAppenderExample" type="SoftCube.Log.ConsoleAppender">
            <param name="ConversionPattern" value="{Date:yyyy-MM-dd HH:mm:ss,fff} [{Level,-5}] - {Message}{NewLine}"/>
            <param name="MinLevel" value="Trace"/>
            <param name="MaxLevel" value="Trace"/>
        </appender>

        <!--使用する Appender。-->
        <root>
            <appender-ref ref="ConsoleAppenderExample"/>
        </root>

    </logger>

    <profiler>

        <param name="LogLevel" value="Trace"/>

        <param name="TitleFormat" value="----- プロファイル結果 -----"/>
        <param name="EntryFormat" value="{Name}******************"/>
        <param name="EntryFormat" value="合計計測時間={TotalSeconds:F5}s"/>
        <param name="EntryFormat" value="平均計測時間={AverageSeconds:F5}s"/>
        <param name="EntryFormat" value="最大計測時間={MaxSeconds:F5}s"/>
        <param name="EntryFormat" value="最小計測時間={MinSeconds:F5}s"/>
        <param name="EntryFormat" value="最大計測順序={MaxNumber}"/>
        <param name="EntryFormat" value="最小計測順序={MinNumber}"/>
        <param name="EntryFormat" value="計測回数={Count}"/>

    </profiler>

</configuration>
