<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <logging>

        <!--ConsoleAppender の設定例。-->
        <appender name="ConsoleAppenderExample" type="SoftCube.Logging.ConsoleAppender">
            <property name="LogFormat" value="{DateTime:yyyy-MM-dd HH:mm:ss,fff} [{Level,-5}] - {Message}{NewLine}"/>
            <property name="MinLevel" value="Trace"/>
            <property name="MaxLevel" value="Fatal"/>
        </appender>

        <!--使用する Appender。-->
        <use-appender name="ConsoleAppenderExample"/>

    </logging>

    <profiling>

        <property name="LogLevel" value="Trace"/>

        <property name="TitleFormat" value="----- プロファイル結果 -----"/>
        <property name="EntryFormat" value="{Name}******************"/>
        <property name="EntryFormat" value="合計計測時間={TotalSeconds:F5}s"/>
        <property name="EntryFormat" value="平均計測時間={AverageSeconds:F5}s"/>
        <property name="EntryFormat" value="最大計測時間={MaxSeconds:F5}s"/>
        <property name="EntryFormat" value="最小計測時間={MinSeconds:F5}s"/>
        <property name="EntryFormat" value="最大計測順序={MaxNumber}"/>
        <property name="EntryFormat" value="最小計測順序={MinNumber}"/>
        <property name="EntryFormat" value="計測回数={Count}"/>

    </profiling>

</configuration>
