<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <logger>

        <!--ConsoleAppender の設定例。-->
        <appender name="ConsoleAppenderExample" type="SoftCube.Log.ConsoleAppender">

            <!--変換パターン。-->
            <param name="LogFormat" value="{DateTime:yyyy-MM-dd HH:mm:ss,fff} [{Level,-5}] - {Message}{NewLine}"/>

            <!--最小ログレベル。Trace 以上のログを出力します。-->
            <param name="MinLevel" value="Trace"/>

            <!--最大ログレベル。Fatal 以下のログを出力します。-->
            <param name="MaxLevel" value="Fatal"/>

        </appender>

        <!--StringAppender の設定例。-->
        <appender name="StringAppenderExample" type="SoftCube.Log.StringAppender">

            <!--上の設定と同じです。-->
            <param name="LogFormat" value="{DateTime:yyyy-MM-dd HH:mm:ss,fff} [{Level,-5}] - {Message}{NewLine}"/>
            <param name="MinLevel" value="Trace"/>
            <param name="MaxLevel" value="Fatal"/>

        </appender>

        <!--FileAppender の設定例。-->
        <appender name="FileAppenderExample" type="SoftCube.Log.FileAppender">

            <!--上の設定と同じです。-->
            <param name="LogFormat" value="{DateTime:yyyy-MM-dd HH:mm:ss,fff} [{Level,-5}] - {Message}{NewLine}"/>
            <param name="MinLevel" value="Trace"/>
            <param name="MaxLevel" value="Fatal"/>

            <!--ファイルパス。-->
            <param name="FilePath" value="{ApplicationData}/Log.Example/FileAppenderExample.log"/>

            <!--ファイルにログを追加するか。-->
            <param name="Append" value="true"/>

            <!--エンコーディング。-->
            <param name="Encoding" value="UTF-8"/>

        </appender>

        <!--RollingFileAppender の設定例。-->
        <appender name="RollingFileAppenderExample" type="SoftCube.Log.RollingFileAppender">

            <!--上の設定と同じです。-->
            <param name="LogFormat" value="{DateTime:yyyy-MM-dd HH:mm:ss,fff} [{Level,-5}] - {Message}{NewLine}"/>
            <param name="MinLevel" value="Trace"/>
            <param name="MaxLevel" value="Fatal"/>
            <param name="FilePath" value="{ApplicationData}/Logger.Example/RollingFileAppenderExample.log"/>
            <param name="Append" value="true"/>
            <param name="Encoding" value="UTF-8"/>

            <!--最大ファイルサイズ。-->
            <param name="MaxFileSize" value="10MB"/>

            <!--最大バックアップ数。-->
            <param name="MaxBackupCount" value="10"/>

        </appender>

        <!-- DailyRollingFileAppender の設定例 -->
        <appender name="DailyRollingFileAppenderExample" type="SoftCube.Log.DailyRollingFileAppender">

            <!--上の設定と同じです。-->
            <param name="LogFormat" value="{DateTime:yyyy-MM-dd HH:mm:ss,fff} [{Level,-5}] - {Message}{NewLine}"/>
            <param name="MinLevel" value="Trace"/>
            <param name="MaxLevel" value="Fatal"/>
            <param name="FilePath" value="{ApplicationData}/Logger.Example/DailyRollingFileAppender.log"/>
            <param name="Append" value="true"/>
            <param name="Encoding" value="UTF-8"/>

            <!--日付の書式。-->
            <param name="DateTimeFormat" value="yyyy-MM-dd"/>

        </appender>

        <root>
            <!--使用する Appender。-->
            <appender-ref ref="ConsoleAppenderExample"/>
            <appender-ref ref="StringAppenderExample"/>
            <appender-ref ref="FileAppenderExample"/>
            <appender-ref ref="RollingFileAppenderExample"/>
            <appender-ref ref="DailyRollingFileAppenderExample"/>
        </root>

    </logger>

</configuration>
