<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <logger>

        <!--ConsoleAppender の設定例。-->
        <appender name="ConsoleAppenderExample" type="SoftCube.Log.ConsoleAppender">

            <!--変換パターン。-->
            <property name="LogFormat" value="{DateTime:yyyy-MM-dd HH:mm:ss,fff} [{Level,-5}] - {Message}{NewLine}"/>

            <!--最小ログレベル。Trace 以上のログを出力します。-->
            <property name="MinLevel" value="Trace"/>

            <!--最大ログレベル。Fatal 以下のログを出力します。-->
            <property name="MaxLevel" value="Fatal"/>

        </appender>

        <!--StringAppender の設定例。-->
        <appender name="StringAppenderExample" type="SoftCube.Log.StringAppender">

            <!--上の設定と同じです。-->
            <property name="LogFormat" value="{DateTime:yyyy-MM-dd HH:mm:ss,fff} [{Level,-5}] - {Message}{NewLine}"/>
            <property name="MinLevel" value="Trace"/>
            <property name="MaxLevel" value="Fatal"/>

        </appender>

        <!--FileAppender の設定例。-->
        <appender name="FileAppenderExample" type="SoftCube.Log.FileAppender">

            <!--上の設定と同じです。-->
            <property name="LogFormat" value="{DateTime:yyyy-MM-dd HH:mm:ss,fff} [{Level,-5}] - {Message}{NewLine}"/>
            <property name="MinLevel" value="Trace"/>
            <property name="MaxLevel" value="Fatal"/>

            <!--ファイルパス。-->
            <property name="FilePath" value="{ApplicationData}/Log.Example/FileAppenderExample.log"/>

            <!--ファイルにログを追加するか。-->
            <property name="Append" value="true"/>

            <!--エンコーディング。-->
            <property name="Encoding" value="UTF-8"/>

        </appender>

        <!--RollingFileAppender の設定例。-->
        <appender name="FileSizeRollingFileAppenderExample" type="SoftCube.Log.FileSizeRollingFileAppender">

            <!--上の設定と同じです。-->
            <property name="LogFormat" value="{DateTime:yyyy-MM-dd HH:mm:ss,fff} [{Level,-5}] - {Message}{NewLine}"/>
            <property name="MinLevel" value="Trace"/>
            <property name="MaxLevel" value="Fatal"/>
            <property name="FilePath" value="{ApplicationData}/Logger.Example/FileSizeRollingFileAppender.log"/>
            <property name="Append" value="true"/>
            <property name="Encoding" value="UTF-8"/>

            <!--最大ファイルサイズ。-->
            <property name="MaxFileSize" value="10MB"/>

            <!--最大バックアップ数。-->
            <property name="MaxBackupCount" value="10"/>

        </appender>

        <!-- DailyRollingFileAppender の設定例 -->
        <appender name="DateTimeRollingFileAppenderExample" type="SoftCube.Log.DateTimeRollingFileAppender">

            <!--上の設定と同じです。-->
            <property name="LogFormat" value="{DateTime:yyyy-MM-dd HH:mm:ss,fff} [{Level,-5}] - {Message}{NewLine}"/>
            <property name="MinLevel" value="Trace"/>
            <property name="MaxLevel" value="Fatal"/>
            <property name="FilePath" value="{ApplicationData}/Logger.Example/DateTimeRollingFileAppender.log"/>
            <property name="Append" value="true"/>
            <property name="Encoding" value="UTF-8"/>

            <!--日付の書式。-->
            <property name="DateTimeFormat" value="yyyy-MM-dd"/>

        </appender>

        <!--使用する Appender。-->
        <use-appender name="ConsoleAppenderExample"/>
        <use-appender name="StringAppenderExample"/>
        <use-appender name="FileAppenderExample"/>
        <use-appender name="FileSizeRollingFileAppenderExample"/>
        <use-appender name="DateTimeRollingFileAppenderExample"/>

    </logger>

</configuration>
