<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <logger>

        <!--ConsoleAppender の設定例。-->
        <appender name="ConsoleAppenderExample" type="SoftCube.Log.ConsoleAppender">

            <!--
            ログの書式。
            以下のプレースフォルダを使用してログの書式を定義します。
            ・{DateTime} : ログを出力した日時 (ローカルタイムゾーン)。
            ・{File}     : ログを出力したファイル名。
            ・{Level}    : ログレベル。
            ・{Line}     : ログを出力したファイル行番号。
            ・{Message}  : ログメッセージ。
            ・{Method}   : ログを出力したメソッド名。
            ・{NewLine}  : 改行文字。
            ・{Thread}   : ログを出力したスレッド番号。
            -->
            <property name="LogFormat" value="{DateTime:yyyy-MM-dd HH:mm:ss,fff} [{Level,-5}] - {Message}{NewLine}"/>

            <!--最小ログレベル。Trace 以上のログを出力します。-->
            <property name="MinLevel" value="Trace"/>

            <!--最大ログレベル。Fatal 以下のログを出力します。-->
            <property name="MaxLevel" value="Fatal"/>

        </appender>

        <!--StringAppender の設定例。-->
        <appender name="StringAppenderExample" type="SoftCube.Log.StringAppender">

            <!--上の設定と同じです。-->
            <property name="LogFormat" value="{DateTime:yyyy-MM-dd HH:mm:ss,fff} [{Level,-5}] - {Message}{NewLine}"/>
            <property name="MinLevel" value="Trace"/>
            <property name="MaxLevel" value="Fatal"/>

        </appender>

        <!--FileAppender の設定例。-->
        <appender name="FileAppenderExample" type="SoftCube.Log.FileAppender">

            <!--上の設定と同じです。-->
            <property name="LogFormat" value="{DateTime:yyyy-MM-dd HH:mm:ss,fff} [{Level,-5}] - {Message}{NewLine}"/>
            <property name="MinLevel" value="Trace"/>
            <property name="MaxLevel" value="Fatal"/>

            <!--
            ファイルオープン方針。
            ファイルオープン時の既存ログファイルの取り扱い方針を指定します。
            ・Append    : 既存ログファイルの末尾に追加。
            ・Backup    : 既存ログファイルをバックアップ。
            ・Overwrite : 既存ログファイルを上書き。
            -->
            <property name="FileOpenPolicy" value="Backup"/>

            <!--エンコーディング。-->
            <property name="Encoding" value="UTF-8"/>

            <!--最大ファイルサイズ (例 : 10KB、10MB、10GB)。-->
            <property name="MaxFileSize" value="10MB"/>

            <!--
            バックアップファイルの日付の書式。
            既存のログファイルをバックアップファイルとする場合、
            ログファイルの作成日付を指定の書式でフォーマットした文字列をログファイル名の後ろに添えて、バックアップファイル名とします。
            日付の書式に指定する文字列は、<see cref="DateTime.ToString(string)"/> で決められたものを使用します。
            使用できる文字列のうち、主なものを紹介します。
            ・yyyyy : 年の下 5 桁。
            ・M     : 月 (1～12)。
            ・MM    : 月 (01～12)。
            ・d     : 日にち (1～31)。
            ・dd    : 日にち (01～31)。
            ・H     : 時間 (0～23)。
            ・HH    : 時間 (00～23)。
            ・h     : 時間 (1～12)。
            ・hh    : 時間 (01～12)。
            ・m     : 分 (0～59)。
            ・mm    : 分 (00～59)。
            ・s     : 秒 (0～59)。
            ・ss    : 秒 (00～59)。
            ・fff   : 1/1000秒。
            -->
            <property name="DateTimeFormat" value="yyyy-MM-dd"/>

            <!--
            インデックスの書式。
            同じ日付のバックアップファイルが 2 つ以上できあがる場合、
            バックアップインデックスを指定の書式でフォーマットした文字列を日付つきバックアップファイル名の後ろに添えて、バックアップファイル名とします。
            インデックスの書式に指定する文字列は、<see cref="int.ToString(string)"/> で決められたものを使用します。
            -->
            <property name="IndexFormat" value="000"/>

            <!--
            ファイルパス。
            以下のプレースフォルダを使用して特殊ディレクトリを含むファイルパスを定義します。
            ・{ApplicationData}        : 現在のローミングユーザーの Application Data フォルダ (例、C:\Users\UserName\AppData\Roaming)。
            ・{CommonApplicationData}  : すべてのユーザーの Application Data フォルダ (例、C:\ProgramData)。
            ・{CommonDesktopDirectory} : パブリックのデスクトップフォルダ (例、C:\Users\Public\Desktop)。
            ・{CommonDocuments}        : パブリックのドキュメントフォルダ (例、C:\Users\Public\Documents)。
            ・{Desktop}                : デスクトップ (名前空間のルート) を示す仮想フォル (例、C:\Users\UserName\Desktop)。
            ・{DesktopDirectory}       : 物理的なデスクトップ (例、C:\Users\UserName\Desktop)。
            ・{LocalApplicationData}   : ローカル Application Data フォルダ (例、C:\Users\UserName\AppData\Local)。
            ・{MyDocuments}            : マイドキュメント (例、C:\Users\UserName\Documents)。
            ・{Personal}               : マイドキュメント (例、C:\Users\UserName\Documents)。
            ・{UserProfile}            : ユーザーのプロファイルフォルダ (例、C:\Users\UserName)。
            -->
            <property name="FilePath" value="{ApplicationData}/Log.Example/FileAppenderExample.log"/>

        </appender>

        <!--使用する Appender。-->
        <use-appender name="ConsoleAppenderExample"/>
        <use-appender name="StringAppenderExample"/>
        <use-appender name="FileAppenderExample"/>

    </logger>

</configuration>
